<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🚀 DevOps Task Manager</h1>

    <h3>CI/CD Pipeline Demonstration</h3>

    <hr>

    <h2>Current Tasks</h2>

    <ul>
        {% for task in tasks %}
            <li>
                {% if task.completed %}
                    ✅ {{ task.name }}
                {% else %}
                    ⬜ {{ task.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</body>